body{
       
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.primary-button{
    color: white;
    display: inline-block;
    background-color: deeppink;
    text-decoration: none;
    padding: 10px 45px;
    font-size: 13px;
    border-radius: 23px;
    border: none;
}
.primary-button-1{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 45px;
    font-size: 13px;
    border-radius: 23px;
    background-color: #26268e;
    border-color: white;

}
header{
    background-color: #6610f2;
    background-attachment: fixed;
}
.header-wrapper{
    padding-left: 24px;


}
.header-wrapper .logo{
    display: flex;
    display: inline;

}
.header-wrapper .logo i{
    font-size: 21px;
    color: #ea9b08;

}
.header-wrapper .logo h2{
    color: white;

}
.header-wrapper .logo p{
    color: white;
    padding-left: 50px;

}
.header-wrapper .logo p i{

}
.header-wrapper .navi{

}
#hero{
    background-color: #3131c5;

}
#hero p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 16px;
    padding-top: 42px;
    color: white;

}
#hero h1{
    text-align: center;
    font-size: 23px;
    padding-bottom: 31px;
    color: white;

}
#hero .hero-contact{
    text-align: center;
    padding-bottom: 40px;

}
.hero-contact a{
    text-decoration: none;
    color: white;

}
#about{

}
#about .about-img{
    padding-bottom: 53px;

}
.about-img img{
    max-width: 290px;
}
#about .about-form{

}
.about-form .about-head{
    padding-bottom: 39px;
}
.about-form h2{
    font-size: 18px;
}
.about-form .form-name{
    display: grid;
    padding-bottom: 30PX;

}
.form-name input{
    height: 44px;
    border-radius: 45px;
    background-color: #f3f1f1;
    border: none;
}
.form-name .form-label{
    padding-bottom: 8px;
    padding-left: 14px;

}
.about-form .form-email{
    display: grid;
    padding-bottom: 30PX;

}
.form-email input{
    height: 44px;
    border-radius: 45px;
    background-color: #f3f1f1;
    border: none;
}
.form-email .form-label{
    padding-bottom: 8px;
    padding-left: 14px;

}
.about-form .form-message{
    display: grid;
    padding-bottom: 32PX;

}
.form-message textarea{
    height: 127px;
    border-radius: 45px;
    background-color: #f3f1f1;
    border: none;


}
.form-message .form-label{
    padding-bottom: 8px;
    padding-left: 14px;

}
.about-button{
    padding-bottom: 50px;

}
#about .about-details{

}
.about-details .about-details-head h3{
    font-size: 20px;
    padding-bottom: 24px;
}
.about-details .about-details-head h1{
    font-size: 19px;

}
.about-details .about-details-head h1:after{
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background-color: deeppink;
    position: relative;
    top: 23px;
}

.about-details .about-details-head p{
    line-height: 22px;
    color: #777373;
    padding-bottom: 24px;
    padding-top: 48px;

}
.about-circle-1{
}
.about-circle-1 h2{
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
    box-shadow: #dedbdb 0px 0px 0px 4px;
    margin-left: 82px;
}
.about-circle-1 p{
    text-align: center;
    padding-top: 27px;
    font-size: 21px;
    padding-bottom: 35px;

}
.about-circle-2{

}
.about-circle-2 h1{
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
    box-shadow: #dedbdb  0px 0px 0px 4px;
    margin-left: 82px;
}
.about-circle-2 p{
    text-align: center;
    padding-top: 27px;
    font-size: 21px;
    padding-bottom: 35px;

}
.about-circle-3{

}
.about-circle-3 h1{
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
    box-shadow: #dedbdb  0px 0px 0px 4px;
    margin-left: 82px;

}
.about-circle-3 p{
    text-align: center;
    padding-top: 27px;
    font-size: 21px;
    padding-bottom: 42px;

}
.about-4-info{

}
.about-4-info h2{
    font-size: 17px;
    padding-bottom: 22px;

}
.about-4-info p{
    line-height: 22px;
    color: #777373;

}
.about-4-info .about-skills{
    padding-bottom: 42px;

}
.about-4-info .about-awards{
    padding-bottom: 42px;

}
.about-4-info .about-certificates{
    padding-bottom: 42px;

}
.about-4-info .about-contact{

}
.about-contact-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;

}
.about-contact-icon {
    flex-basis: 15%;

}
.about-icon-between{
    padding-bottom: 49px;
}

.about-contact-icon li{
    list-style: none;

}
.about-contact-text {
    flex-basis: 85%;

}
.about-text-between{
    padding-bottom: 18px;

}
.about-contact-text li{
    list-style: none;
    font-size: 17px;
    line-height: 21px;

}
.icon-wrapper{
    display: flex;
}
.icon-wrapper li{
    list-style: none;
    font-size: 21px;
    padding-right: 27px;
    color: #c5c4c4;
    padding-bottom: 65px;
}





#project{
    background-color: #000038;

}
#project .project-header{
    padding-top: 55PX;

}
.project-header h2{
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: monospace;

}
.project-header h2:after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background-color: deeppink;
    margin: auto;
    position: relative;
    top: 18px;

}

.project-header p{
    color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 38px;
    line-height: 23px;

}
.project-images{

}
.project-images img{
    max-width: 290px;
    padding-bottom: 14px;

}
.project-images h3{
    color: yellow;
    padding-bottom: 52px;

}
.project-button{
    text-align: center;
    padding-bottom: 66px;
}
#testimonial{
    background-color: #f5f2f2;}

}
#testimonial .testimonial-top{
    padding-top: 57px;
}
.testimonial-top h1{
    font-size: 22px;
    font-family: monospace;
    text-align: center;
    padding-top: 66px;
}
.testimonial-top h1:after {
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background-color: deeppink;
    margin: auto;
    position: relative;
    top: 18px;

}
.testimonial-top-img{
    text-align: center;
    padding-top: 68px;

}

.testimonial-top img{
    border-radius: 100px;
    max-width: 80px;
}
.testimonial-top p{
    text-align: center;
    line-height: 21px;
    color: #777373;
}
.testimonial-bottom{

}
.testimonial-bottom-comma{
    text-align: center;

}
.testimonial-bottom-comma p{
    font-size: 41px;
    color: deeppink;
    padding-bottom: 29px;

}
.testimonial-bottom h3{
    text-align: center;
    font-size: 18px;
    font-family: monospace;
    color: #903890;
    padding-bottom: 8px;
}
.testimonial-bottom p {
    text-align: center;   
    padding-bottom: 38px;
}
#consultation{
    background-color: #26268e;

}
.consult-wrapper{
    padding-top: 63px;

}
.consult-wrapper .consult-left{

}
.consult-left h1{
    text-align: center;
    font-size: 24px;
    line-height: 24px;
    font-family: monospace;
    color: #d0d012;
    padding-bottom: 26px;

}
.consult-left p{
    color: white;
    padding-bottom: 35px;
    text-align: center;
    font-size: 17px;
    line-height: 22px;

}
.consult-right{
    padding-bottom: 44px;

}
.consult-right .consult-button{
    text-align: center;
}
footer{

    background-color: #211f1f;
}
.footer-icon-wrapper{
    display: flex;
    position: relative;
    left: 52px;
    padding-top: 49px;
    
}
.footer-icon-wrapper li {
    list-style: none;
    color: white;
    font-size: 21px;
    background-color: #2d2b2b;;
    border-radius: 39%;
    padding: 8px;

}
.footer-words{
    color: white;
    text-align: center;
    padding-top: 44px;
    padding-bottom: 46px;
    line-height: 23px;
}





















