body{
    margin-top: 64px;
}
.container{
    margin-left: auto;
    margin-right: auto;
    padding-right:30px;
    padding-left: 30px;
}
.primary-button{
    color: white;
    display: inline-block;
    background-color: #1b117b;
    text-decoration: none;
    padding: 10px 45px;
    font-size: 13px;
    border-radius: 23px;
    border: none;
}
.primary-button-1{
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 10px 45px;
    font-size: 13px;
    border-radius: 23px;
    background-color: #26268e;
    border-color: white;
}
header{
    display: flex;
    justify-content: space-between;
    position: relative;
    height: auto;
    border-bottom: 1px solid #f5f5f5;
    background-color: #ffff;
    padding: 12px 20px;
    top: 0;
    left: 0;
    position: fixed;
}
.header-logo{
    flex-basis: 50%;
    display: inline-block;
    line-height: 0px;
}
.header-logo img{
    width: 59%;
    height: 100%;
}
.header-toggle{
    flex-basis: 7%;
    padding-top: 3px;
    background-color: #fff;
    border: solid #fff;
}
.header-toggle img{
    height: 25px;
    width: 21px;
}
#hero{
    background-color:#1b117b;
}
#hero p{
    text-align: center;
    font-size: 20px;
    padding-bottom: 16px;
    padding-top: 42px;
    color: white;
}
#hero h1{
    text-align: center;
    font-size: 23px;
    padding-bottom: 31px;
    color: white;
}
#hero .hero-contact{
    text-align: center;
    padding-bottom: 40px;
}
.over-image-1{
    display: none;
}
.hero-contact a{
    text-decoration: none;
    color: white;
}
#about{

}
#about .about-img{
    padding-bottom: 53px;
    padding-top: 50px;
}
.about-img img{
    max-width: 100%;
}
.about-wrapper-1{
    width: 100%;
}
#about .about-form{

}
.about-form .about-head{
    padding-bottom: 39px;
}
.about-form h2{
    font-size: 18px;
}
.about-form .form-name{
    display: grid;
    padding-bottom: 30PX;
}
.form-name input{
    height: 44px;
    border-radius: 45px;
    background-color: #f3f1f1;
    border: none;
}
.form-name .form-label{
    padding-bottom: 8px;
    padding-left: 14px;
}
.about-form .form-email{
    display: grid;
    padding-bottom: 30PX;
}
.form-email input{
    height: 44px;
    border-radius: 45px;
    background-color: #f3f1f1;
    border: none;
}
.form-email .form-label{
    padding-bottom: 8px;
    padding-left: 14px;
}
.about-form .form-message{
    display: grid;
    padding-bottom: 32PX;
}
.form-message textarea{
    height: 127px;
    border-radius: 45px;
    background-color: #f3f1f1;
    border: none;
}
.form-message .form-label{
    padding-bottom: 8px;
    padding-left: 14px;
}
.about-button{
    padding-bottom: 52px;
}
#about .about-details{

}
.about-details-head h3{
    color: #1b117b;

}
.about-details .about-details-head h3{
    font-size: 20px;
    padding-bottom: 24px;
}
.about-details .about-details-head h1{
    font-size: 19px;
}
.about-details .about-details-head h1:after{
    content: "";
    display: block;
    height: 3px;
    width: 100px;
    background-color: deeppink;
    position: relative;
    top: 23px;
}
.about-details .about-details-head p{
    line-height: 22px;
    color: #777373;
    padding-bottom: 24px;
    padding-top: 48px;
}
.about-circle{
    text-align: center;
}
.about-circle-1{
}
.about-circle-1 h2{
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
    box-shadow: #dedbdb 0px 0px 0px 4px;
}
.about-circle-1 p{
    text-align: center;
    padding-top: 27px;
    font-size: 21px;
    padding-bottom: 35px;
}
.about-circle-2{

}
.about-circle-2 h1{
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
    box-shadow: #dedbdb  0px 0px 0px 4px;
}
.about-circle-2 p{
    text-align: center;
    padding-top: 27px;
    font-size: 21px;
    padding-bottom: 35px;
}
.about-circle-3{

}
.about-circle-3 h1{
    display: inline-block;
    border-radius: 50%;
    padding: 50px;
    box-shadow: #dedbdb  0px 0px 0px 4px;
}
.about-circle-3 p{
    text-align: center;
    padding-top: 27px;
    font-size: 21px;
    padding-bottom: 42px;
}
.about-4-info{

}
.about-4-info h2{
    font-size: 17px;
    padding-bottom: 22px;
}
.about-4-info p{
    line-height: 22px;
    color: #777373;
}
.about-4-info .about-skills{
    padding-bottom: 42px;
}
.about-4-info .about-awards{
    padding-bottom: 42px;
}
.about-4-info .about-certificates{
    padding-bottom: 42px;
}
.about-4-info .about-contact{

}
.about-contact-wrapper{
    display: flex;
    justify-content: space-between;
    padding-bottom: 26px;
}
.about-contact-icon {
    flex-basis: 15%;
}
.about-icon-between{
    padding-bottom: 49px;
}
.about-contact-icon li{
    list-style: none;
    color: #1b117b;
}
.about-contact-text {
    flex-basis: 85%;
}
.about-text-between{
    padding-bottom: 18px;
}
.about-contact-text li{
    list-style: none;
    font-size: 17px;
    line-height: 21px;
}
.icon-wrapper{
    display: flex;
}
.icon-wrapper i{
    list-style: none;
    font-size: 21px;
    padding-right: 27px;
    color: #1b117b;
    padding-bottom: 65px;
}
.skills-heading h2{
    display: block;
    font-size: 29px;
    padding: 13px 20px 10px 40px;
    background-color: #1b117b;
    color: #fff;
    line-height: 1.1;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    border-radius: 0 50px;
}
.professional{
    margin-top: 0;
    padding-bottom: 50px;
}
.professional h3,
.personal h3,
.languages h3{
    display: inline-block;
    padding-bottom: 2px;
    font-size: 22px;
    font-weight: 100;
    border-bottom: solid 2px #f69bac;
    color: #00000094;
}
.prof-part{
    padding-top: 32px;
    font-size: 14px;
    color: #00000094;
}
.prof-part h6{
    padding-bottom: 21px;
}
.prof-progress,
.pers-progress,
.language-progress{
    width: 100%;
    height: 25px;
    border: 1px solid #f69bac;
    box-shadow: 0px -10px 30px rgba(0, 0, 0, 0.08) inset;
    border-radius: 50px;
}
.prof-progress .progress-bar-1,
.prof-progress .progress-bar-2,
.prof-progress .progress-bar-3,
.prof-progress .progress-bar-4{
    height: 100%;
    width: 80%;
    background: #1b117b;
    border-radius: 50px;
    position: relative;
    animation-name: prof-bar-1;
    animation-timing-function: width;
    animation-direction: normal;
    animation-play-state: initial;
    animation-duration: 2.5s;

}
.prof-progress .progress-bar-3{
    width: 50%;
    animation-name: prof-bar-2;
}
.prof-progress .progress-bar-4{
    width: 60%;
    animation-name: prof-bar-3;
}
.personal{
    margin-top: -13px;
    padding-bottom: 50px;
}
.pers-part{
    padding-top: 32px;
    font-size: 14px;
    color: #00000094;
}
.pers-part h6{
    padding-bottom: 21px;
}
.pers-progress .progress-bar-1,
.pers-progress .progress-bar-2,
.pers-progress .progress-bar-3,
.pers-progress .progress-bar-4{
    height: 100%;
    width: 80%;
    background: #1b117b;
    border-radius: 50px;
    position: relative;
    animation-name: prof-bar-1;
    animation-timing-function: width;
    animation-direction: normal;
    animation-play-state: initial;
    animation-duration: 2.5s;
}
.pers-progress .progress-bar-1{
    width: 90%;
    animation-name: pers-bar-2;
}
.pers-progress .progress-bar-2{
    width: 75%;
    animation-name: pers-bar-3;
}
.pers-progress .progress-bar-4{
    width: 70%;
    animation-name: pers-bar-3;
}
.languages{
    margin-top: -13px;
}
.language-wrapper{
    padding-bottom: 102px;
}
.language-part{
    padding-top: 32px;
    font-size: 14px;
    color: #00000094;
}
.language-part h6{
    padding-bottom: 21px;
}
.language-progress .progress-bar-1,
.language-progress .progress-bar-2{
    height: 100%;
    width: 90%;
    background: #1b117b;
    border-radius: 50px;
    position: relative;
    animation-name: pers-bar-2;
    animation-timing-function: width;
    animation-direction: normal;
    animation-play-state: initial;
    animation-duration: 2.5s;
}
.language-progress .progress-bar-2{
    width: 70%;
    animation-name: pers-bar-3;
} 
#resume{

}
.resume-heading h2{
    display: block;
    font-size: 29px;
    padding: 13px 20px 10px 40px;
    background-color: #1b117b;
    color: #fff;
    line-height: 1.1;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    border-radius: 0 50px;

}
.resume-heading p{
    font-weight: 100;
    color: #4b4453e8;
    text-align: right;
    padding: 3px 20px;
}
.education{
    margin-top: 0;
    padding-top: 23px;
}
.education h3{
    display: inline-block;
    padding-bottom: 2px;
    font-size: 22px;
    font-weight: 100;
    border-bottom: solid 2px #f69bac;
    color: #00000094;
}
.edu-wrapper{
    padding-bottom: 50px;
    margin-top: 21px;
}
.edu-item-1,
.edu-item-2,
.edu-item-3{
    padding: 5px 0px 22px 20px;
    margin-left: 5px;
    border-left: 1px solid #f69bac;
    position: relative;
}
.edu-item-1 p, .edu-item-2 p, .edu-item-3 p {
    padding-top: 36px;
}
.edu-date{
    line-height: 1;
    font-size: 13px;
    color: #00000096;
}
.edu-date::before{
    content: "";
    position: absolute;
    background: #f69bac;
    top: 4px;
    left: -8px;
    border-radius: 100%;
    width: 15px;
    height: 15px;
}
.edu-item-1 li,
.edu-item-2 li,
.edu-item-3 li{
    list-style: inside;
    font-size: 50px;
    color: #ec8497
}
.edu-item-1 li span,
.edu-item-2 li span,
.edu-item-3 li span{
    color: #00000085;
    font-size: 14px;
    padding-top: 4px;
}
.edu-item-1 h4,
.edu-item-2 h4,
.edu-item-3 h4{
    padding-top: 19px;
    font-size: 16px;
    font-weight: 500;
    color: #0b0a0a;
}
.edu-item-1 p,
.edu-item-2 p,
.edu-item-3 p{
    padding-top: 36px;
    font-size: 23px;
    color: #00000096;
}
@keyframes prof-bar-1{
    0%{
        width: 0%;
    }
    20%{
        width: 20%;
    }
    40%{
        width: 30%;
    }
    60%{
        width: 50%;
    }
    80%{
        width: 65%;
    }
    100%{
        width: 80%;
    }

}
@keyframes prof-bar-2{
    0%{
        width: 0%;
    }
    25%{
        width: 20%;
    }
    50%{
        width: 30%;
    }
    75%{
        width: 40%;
    }
    100%{
        width: 50%;
    }

}
@keyframes prof-bar-3{
    0%{
        width: 0%;
    }
    25%{
        width: 30%;
    }
    50%{
        width: 40%;
    }
    75%{
        width: 50%;
    }
    100%{
        width: 60%;
    }

}
@keyframes pers-bar-2{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 50%;
    }
    75%{
        width: 70%;
    }
    100%{
        width: 90%;
    }
}
@keyframes pers-bar-3{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 40%;
    }
    75%{
        width: 55%;
    }
    100%{
        width: 75%;
    }

}
@keyframes pers-bar-3{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
    50%{
        width: 40%;
    }
    75%{
        width: 55%;
    }
    100%{
        width: 70%;
    }

}




















